.color{
font-size:14px;
    
}

.name{
    font-size:28px;
    color:red;
    text-align:center;
    
}

#age{
    color:blue;
    font-size:28px;
    
}


.paul{
     background-color:yellow;
     
}